# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Environment variables
.env

# Streamlit
.streamlit/*
!.streamlit/config.toml

# VS Code
.vscode/

# OS
.DS_Store

# VS Code workspace files
*.code-workspace